body {
    font-family: Rubik,Arial,sans-serif;
}

.header {
    background: linear-gradient(65deg,#FECD1A,#9D0191,#FD3A69,#120078);
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.nav {
    display: flex;
    justify-content: space-between;
}

.navLink {
    color: white;
    text-decoration: none;
}

.imageLogo {
    width: 160px;
    padding: 14px 20px;
}

.navMenu {
    display: flex;
    margin-right: 40px;
    list-style: none;
}

.navMenuItem {
    font-size: 18px;
    margin: 0 10px;
    line-height: 80px;
    text-transform: uppercase;
}

.navMenuLink {
    padding: 8px 12px;
    border-radius: 3px;
    transition: 0.5s;
}

.navMenuLink:hover {
    background-color: #034574;
}

.navToggle {
    color: white;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    cursor: pointer;

    display: none;
}

.containerHome {
    padding-top: 5rem;
}
.infoPhoto {
    border-bottom: 1px solid #c1c0c0;
}
.containerInfo {
    background: #fff;
    border-radius: 10px;
    padding: 10px;
    margin: 1rem 5px;
    text-align: center;
}
.photoUserHome {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    border: 2px solid white;
    background-size: 100%;
    background-repeat: no-repeat;
}
.divPostHome {
    background: #fff;
    border-radius: 10px;
    padding: 10px 5px;
    margin-bottom: 1rem;
}
.btnPosts {
    display: flex;
    justify-content: end;
}
textarea {
    resize: none;
    align-content: center;
    width: -webkit-fill-available;
}
.textEdit {
    padding: 1rem 0 12px 0;
}
.btnLike,
.btnEdit,
.btnDelete,
.btnSave {
    cursor: pointer;
}
.divSave {
    display: flex;
    justify-content: end;
    padding-top: 0.5rem;
}
.btnEdit {
    margin-right: 0.5rem;
}
.postProfileHome {
    background: #fff;
    color: #626262;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 1rem;
}
#nameUserHom {
    font-weight: bold;
    padding-top: 6px;
}
@media (min-width: 768px) {
    .containerHome {
        display: grid;
        grid-template-columns: 45% 52%;
        grid-gap: 1.5rem;
        justify-content: center;
        margin: 0 2.5rem;
    }
    .containerInfo {
        height: 8.5rem;
    }
    .divPostHome {
        margin-top: 1rem;
    }
}
@media (min-width: 1400px) {
    .containerHome {
        margin: 0 8.5rem;
        grid-gap: 2rem;
    }
}
@media (max-width: 767px) {
    .navMenu {
        flex-direction: column;
        align-items: center;
        margin-right: 20px;
        background-color: #986D8E;
        position: fixed;
        /* left: 0; */
        top: 80px;
        width: 100%;
        padding: 20px 0;

        height: calc(100% - 80px);
        overflow-y: auto;

        left: 100%;
        transition: left 0.3s;
    }

    .navMenuItem {
        line-height: 70px;
    }

    .navMenuLink:hover {
        background: none;
        color: #83c5f7;
    }

    .navToggle {
        display: block;
    }

    .navMenuVisible {
        left: 0;
    }
    .containerHome {
        margin: 0 0.3rem;
    }
}
