body {
    background-color: #f3f2ef;;
}
.frontProfile {
    width: 100%;
    height: 300px;
    background-image: url(../img/fondo.jpg);
    background-size: cover;
}
.container {
    display: flex;
    justify-content: center;
}
.photoUser {
    width: 150px;
    height: 150px;
    background-size: 100%;
    border-radius: 50%;
    border: 2px solid white;
    margin-top: -90px;
}
.details {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 8px 15px 18px;
}
.writePostContainer {
    padding: 0 5px;
}
.divPost {
    /* display: flex; */
    /* justify-content: center; */
    background: #fff;
    border-radius: 10px;
    padding: 10px 5px;
    margin: 1rem 25%;
}
.imgPost {
    background-repeat: no-repeat;
    width: 45px;
    background-size: 100%;
    border-radius: 50%;
    border: 2px solid white;
    margin-right: 5px;
}
.postGroup textarea {
    resize: none;
    border: 0;
    align-content: center;
    width: -webkit-fill-available;
    background: transparent;
    outline: none;
}
/* .post {
    margin-left: 0.3rem;
} */
.postButton {
    justify-content: flex-end;
    background-color: #120078;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    border: none;
    font-weight: 900;
    color: white;
    /* float: right; */
    /* margin-top: 15px; */
    /* margin-left: 8.7rem; */
}
.datoProfile {
    display: flex;
    align-items: center;
}
.datoName p {
    font-weight: 500;
    color: #626262;
}
.datoName span {
    font-size: 13px;
}
.postProfile {
    background: #fff;
    border-radius: 10px;
    margin: 1rem 25%;
    padding: 20px;
    color: #626262;
}
.postText {
    color: #9a9a9a;
    margin: 15px 0;
    font-size: 15px;
}
.reactionPost {
    display: flex;
}
.reactionPost span {
    width: 18px;
    margin-right: 10px;
}
/*modalDelete*/
.modalDeletePost {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(250, 250, 250, 0.24);
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
  }
  .showModal {
    opacity: 1;
    visibility: visible;
  }
  .modalContent {
    width: 380px;
    height: 280px;
    margin: auto;
    margin-top: 5px;
    background: #fff;
    box-shadow: 1px 7px 25px rgba(0, 0, 0, 0.199);
    transition: all 500ms ease;
    position: relative;
    border-radius: 20px;
    }
    .alertText {
    padding: 5px;
    color: #120078;
    border-radius: 15px;
    font-size: 1.5rem;
    }
    .modalText {
    font-family: var(--secondary-font);
    font-size: 1.2rem;
    color: rgb(70, 67, 71);
    text-align: center;
    margin: 2rem 20px;
    }
    .modalBotones {
    display: flex;
    justify-content: space-evenly;  
    margin-top: rem;
    }
    .btnNo, .btnYes {
    display: inline-block;
    color: white;
    background: #120078;
    font-size: 1.1rem;
    font-weight: 500;
    border: none;
    border-radius: 19px;
    min-height: 40px;
    width: 120px;
    margin: 15px;
    transition: all 0.4s ease;
    cursor: pointer;
    }
   .btnYes:hover {
     background: #FD3A69;
    }
    .btnNo:hover {
      background: #FD3A69; 
    }

@media (max-width: 540px) {
    .frontProfile {
        height: 220px;
    }
    .photoUser {
        width: 125px;
        height: 125px;
        margin-top: -75px;
    }
    .divPost, .postProfile {
        margin: 1rem 1%;
        width: 98%;
    }
}
